.btn-lila {
    color: #fff !important;
    background-color: #9054c9 !important;
}

.btn-lilaR {
    color: #fff !important;
    background-color: #9054c9 !important;
    border-radius: 30px !important;
}

.btn-limon {
    color: #fff !important;
    background-color: #77b859 !important;
}

.btn-limonR {
    color: #fff !important;
    background-color: #77b859 !important;
    border-radius: 50px !important;
}

.btn-verde {
    color: #fff !important;
    background-color: #10382f !important;
}

.btn-verdeR {
    color: #fff !important;
    background-color: #063b0f !important;
    border-radius: 50px !important;
}

.btn-ver {
    color: #fff !important;
    background-color: #3c4720 !important;
}

.btn-verR {
    color: #fff !important;
    background-color: #3c4720 !important;
    border-radius: 50px !important;
}

.btn-gris {
    background-color: #f3f3f3 !important;
    border-radius: 50px !important;
}

.btn-grisb {
    background-color: #f3f3f3 !important;
    border-radius: 10px !important;
}

.btn-codes {
    color: #fff !important;
    background-color: #1b1d18 !important;
}

.btn-pay {
    color: #ffffff !important;
    background-color: #3d3345 !important;
    border-radius: 50px !important;
}

.btn-codesR {
    color: #fff !important;
    background-color: #000000 !important;
    border-radius: 50px !important;
}

.btn-loglimon {
    color: #fff !important;
    background-color: #77b859 !important;
    border-radius: 30px !important;
}

.btn-loglila {
    color: #fff !important;
    background-color: #9054c9 !important;
    border-radius: 30px !important;
}

.btn-logfucsia {
    color: #fff !important;
    background-color: #d9534f !important;
    border-radius: 30px !important;
}

.btn-celeste {
    color: #000 !important;
    background-color: #e0ecff !important;
    border-radius: 30px !important;
}

.btn-redeco {
    color: #fff !important;
    background: linear-gradient(45deg, #3e5a8d, #010149) !important;
    border-radius: 30px !important;
}

.btn-red {
    color: #fff !important;
    background-color: #ff0000 !important;
}

.btn-redR {
    color: #fff !important;
    background-color: #ff0000 !important;
    border-radius: 30px !important;
}

.btn-lemonR {
    color: #fff !important;
    background: linear-gradient(45deg, #c4f3b4, #3c5534) !important;
    border-radius: 30px !important;
}
.btn-bluR {
    color: #fff !important;
    background: linear-gradient(45deg, #82b2f5, #083080) !important;
    border-radius: 30px !important;
}
